In [ ]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [7]:
# i. Create a variable with string data type
a="string in a double quote"
b='string in a single quote'
print(a)
print(b)

string in a double quote
string in a single quote

In [10]:
# ii. Create a variable with list data type. 
c=["Hey", "You", 1, 2.5, 3, "go",[2,4,6],("A","B") ]
print(c)
type(c)

['Hey', 'You', 1, 2.5, 3, 'go', [2, 4, 6], ('A', 'B')]

list

In [8]:
# iii. Create a variable with float data type
c=26.15
print("The type of variable having value", c , "is", type(c))

The type of variable having value 26.15 is <class 'float'>

In [9]:
# iv. Create a variable with tuple data type. List is immutble data type.
# Tuple of having integers, float and strings
d=("Hey", "You", 1, 2.5, 3, "go")
print(d) 
type(d)

('Hey', 'You', 1, 2.5, 3, 'go')

tuple

In [12]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [18]:
var1= ''
var2= '[DS, ML, Python]'
var3= ['DS','ML','Python']
var4= 1.
print("var1 is having data type", type(var1))
print("var2 is having data type", type(var2))
print("var3 is having data type", type(var3))
print("var4 is having data type",type(var4))

var1 is having data type <class 'str'>
var2 is having data type <class 'str'>
var3 is having data type <class 'list'>
var4 is having data type <class 'float'>

In [20]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **
A=10
B=3
# i. Division /
C=A/B
print("C=", C)
# ii. Floor Division //
D=A//B
print("D=", D)
# iii. Modulo %
E= A % B
print("E=",E)
# iv. Power **
F=A**B
print("F=", F)

C= 3.3333333333333335
D= 3
E= 1
F= 1000

In [21]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. 
#Using for loop print the element and its data type.
List=["Jaishri", "Gothania", 1992, 68.5, 30, "Married",9172123878,32.5,4567,456.00]
for x in List:
    print(x, type(x))

Jaishri <class 'str'>
Gothania <class 'str'>
1992 <class 'int'>
68.5 <class 'float'>
30 <class 'int'>
Married <class 'str'>
9172123878 <class 'int'>
32.5 <class 'float'>
4567 <class 'int'>
456.0 <class 'float'>

In [ ]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B 
#and if so then how many times it can be divisible.
A1 = 80
B1=2
i = 0
while A1 > 0:
   if (A1 / B1) > 1:
    i = i +1 
print (i)
# This code is neither giving OUTPUT nor ERROR.

In [ ]:
# Q6. Create a list containing 25 int type data. Using for loop 
# and if-else condition print if the element is divisible by 3 or not.
List1=[3,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72,75]
for i in range(0,24) : 
   if((i%3==0) 
      print(i)
# This code is neither giving OUTPUT nor ERROR.

In [ ]:
# Q7. What do you understand about mutable and immutable data types? 
#Give examples for both showing this property.

In [ ]:
# Mutable datatypes are objects that can be modified or altered after they have been created 
# (for example, by adding new elements, removing elements, or replacing elements).
# Python's mutable data types are:
# •	List
# •	Dictionary
# •	Set

In [ ]:
# Lists are Mutuable 
List2 = ["red", "blue", "green"]
print(List2)
List2[0] = "pink"
List2[-1] = "orange"
print(List2)
# This code is neither giving OUTPUT nor ERROR.

In [ ]:
# Dictionaries are Mutable
dict d1 = {Name: 'Jaishri', age: 30, Place: 'Delhi'}
print(d1)
d1[Name]= "Gothania"
print(d1)
# This code is neither giving OUTPUT nor ERROR.

In [ ]:
# Sets are Mutable
set s= {"apple", "banana", "cherry", "apple"}
print(s)
s.add(Mango)
print(s)
# This code is neither giving OUTPUT nor ERROR.

In [ ]:
# Immutable datatypes are objects that cannot be modified or altered after they have been created 
# (for example, by adding new elements, removing elements, or replacing elements).
# Python's immutable data types are:
# •	Int
# •	Float
# •	Tuple
# •	Complex
# •	String
# When you make changes to immutable objects, the memory where they were stored during initialization is updated.

In [ ]:
# Tuples are immutable
x = ("apple", "banana", "cherry")
x[1] = "kiwi"
print(x)
# This code is neither giving OUTPUT nor ERROR.

In [ ]:
# Strings are immutable
y = "Hello"
print(y)
y[0]="C"
print(y)
# This code is neither giving OUTPUT nor ERROR.